@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-code);
  --color-bitcoin: #F7931A; 
}

/* Custom Scrollbar (Optional, but looks premium) */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700/50 rounded-full hover:bg-bitcoin;
  }
}